:root {
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: "Kode Mono", monospace;
    width: 100%;
    --sunset: linear-gradient(to bottom, #f4a261, #e76f51);
    --dark: linear-gradient(to bottom, #1b263b, #0d1b2a);
    --light: linear-gradient(to bottom, #fffcf2, #ccc5b9);
    --forest: linear-gradient(to bottom, #a4ac86, #656d4a);
    --ocean: linear-gradient(to bottom, #48cae4, #0077b6);
    --pastel: linear-gradient(to bottom, #efc3e6, #9c89b8);
}

body  {
    margin: 0;
    font-family: "Kode Mono", monospace;
    color: var(--light);
    background-color: var(--dark);
    overflow-x: hidden;
}

.linear-gradient {
    background-image: var(--sunset);
    background-image: var(--dark);
    background-image: var(--light);
    background-image: var(--forest);
    background-image: var(--ocean);
    background-image: var(--pastel);
  }
