@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet');


:root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: "Kode Mono", monospace;
  width: 80vw;
  height: 100%;
  --sunset: linear-gradient(to bottom, #f4a261, #e76f51);
  --dark: linear-gradient(to bottom, #1b263b, #0d1b2a);
  --light: linear-gradient(to bottom, #fffcf2, #ccc5b9);
  --forest: linear-gradient(to bottom, #a4ac86, #656d4a);
  --ocean: linear-gradient(to bottom, #48cae4, #0077b6);
  --pastel: linear-gradient(to bottom, #efc3e6, #9c89b8);
  --background: var(--sunset); /* Default background */
  
}


.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.background-image {
  width: 50%;
  height: 300px; 
  object-fit: cover;
}

.profile-image-container,
.background-image-container {
  margin-bottom: 20px;
}

.linear-gradient {
  background-image: var(--sunset);
  background-image: var(--dark);
  background-image: var(--light);
  background-image: var(--forest);
  background-image: var(--ocean);
  background-image: var(--pastel);
}

* {
  font-family: "Kode Mono", monospace;
}

.sidebar {
  color: #fff;
  width: 100%;

}

/* .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 10px;
  margin-top: 60px;
  margin-left: 30px

}

.logo-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border-radius: 50%;
  background: rgba(130, 72, 197, 0.88);
} */



@media only screen and (max-width: 768px) {
  .sidebar {
    flex: 0 0 100;
    max-width: 100px;
    min-width: 100px;
    width: 10px; /* Adjust padding as needed */
  }
}

.sidebar {
  color: #fff;
}

.menu-bar {
  height: 86vh;
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 1rem;
  position: relative;
}

.toggle-theme-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.toggle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: white;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: var(--background); /* Use variable for background */
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

.chatbox {
  border: 1px solid gray;
  overflow-y: scroll;
  height: 50vh;
  width: 40vw;
  margin: auto;
}

.theme-dropdown {
    position: relative;
    left: -720px;
    margin: 20px;
  
}
.theme-label {
    font-size: 1.5rem;
}
@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}
/* Button styles */
.theme-button {
  position: fixed;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* Add a class for the wave background */
.wave-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}
@media only screen and (max-width: 768px) {
  .menu-bar {
    margin-top: 5rem; /* Adjust as needed */
    height: auto;
  }

  .toggle-theme-btn {
    bottom: 50px;
  }

  .toggle {
    bottom: 10px;
  }

  .theme-dropdown {
    left: -20px;
    margin: 10px;
  }
}
@keyframes wave {
  2% {
      transform: translateX(1);
  }

  25% {
      transform: translateX(-25%);
  }

  50% {
      transform: translateX(-50%);
  }

  75% {
      transform: translateX(-25%);
  }

  100% {
      transform: translateX(1);
  }
  
  
}